<!DOCTYPE html>
<html>
<head>
    <title>My Portfolio</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>My Portfolio</h1>
    </header>
    <section>
        <h2>About Me</h2>
        <p>I studied computer science at Semnan University from 2020 to 2023. I am an enthusiastic and dedicated Backend Developer with a keen interest in building efficient and scalable solutions. I have hands-on experience in crafting RESTful APIs, managing databases, and working with various server-side technologies. My proficiency includes Python, Go, and Node.js. I am driven by collaborative problem-solving and have a strong passion for delivering seamless user experiences. Additionally, I am well-versed in utilizing Git for version control, familiar with ChatGPT for natural language processing tasks, and experienced in working with Linux environments. I am eager to contribute to impactful projects and thrive in collaborating within a dynamic development team.</p>

        <button id="animateBtn">Animate Me!</button> 
    </section>

    <section>
        <h2>Education</h2>

    </section>
    <section>
        <h2>Work Experience</h2>

    </section>
    <section>
        <h2>Skills</h2>

    </section>
    <section>
        <h2>Project</h2>

    </section>
    <section>
        <h2>AcademicReferences</h2>

    </section>
    <section>
        <h2>professionalReferences</h2>

    </section>
    
    <footer>
        <p>Contact me at: fjadidi2001@gmail.com</p>
    </footer>
    
    <script src="/static/js/main.js"></script> 
</body>
</html>
